#flex-container{
    display:flex;
    flex-direction:row;
}
#page-wrapper{
   
    padding:0%;
    margin:3%;
  }
*{
    
    color: #87ceeb;
    
}
img {
    display: block;
    margin: auto;
    padding: 10%;
    width: 20%;
    border-radius: 50%;
    
    
  }

nav li{
    display:inline;
    margin:auto;
    padding:5%;
    text-align: center;
    
}
nav ul{
    text-align: center;
    margin:auto;
    padding:3%;
    background-color: #ff4500 ;
   
}
#flex-item1{
    align-self:center;
    flex-grow:30;
}

#flex-item2{
    align-self:center;
    flex-grow:30;
}

header{
    background-image:url(monogram-website2.jpg);
}

h1{
    text-align: center;
    margin:auto;
    padding-top:6%;
    max-width:98%;
    font-size:3vw;
    font-weight: bold;
}
p{
    text-align: center;
    margin:auto;
    padding:7%;
    font-size: 1.50vw;
    max-width:98%;
}
#main-content{
    padding:2%;
    margin:auto;
    max-width:98%;
    background: url(bp4.jpeg) no-repeat center fixed; 
    background-size:cover;
  }

#flex-item3{
    align-self:center;
    flex-grow:90;
  }
  #flex-item4{
    align-self:center;
    flex-grow:90;
  }
 

  h4{
    text-align: center;
}
body{
    font-family:"open sans","Helvetica Neue",Arial,san-serif;
  }
  @media (max-width: 800px) {
    .flex-container {
      flex-direction: column;
    }
  }
  a{
    text-decoration: none;
}
footer{
    text-align: center;
    padding: 3%;
}
.social{
    display: inline;
    margin: auto;
    padding: 2%;
}
a:hover {
    color: #091065;
  }